html,body,main {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
}

.default-button {
    margin: 1em 0;
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    font-size: 1.1em;
    width: fit-content;
    text-align: end;
    margin-left: auto;
    margin-right: 1em;
    cursor: pointer;
}

.default-button:hover {
    text-decoration: underline;
}

.add-modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.add-modal-container.visible {
    display: flex;
}

.add-modal-container .add-modal {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    padding: 2em 3em;
    border-radius: 10px;
    gap: 1em;
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .add-modal-container .add-modal {
        width: 50%;
    }
}

@media only screen and (max-width: 465px) {
    .add-modal-container .add-modal {
        width: 80%;
    }
}

.add-modal-container .add-modal h2 {
    margin: 0;
}

.add-modal-container .add-modal .inputs {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5em;
}

.add-modal-container .add-modal .inputs input,textarea {
    padding: .5em 1em;
    border-radius: 12px;
    font-size: .9rem;
    border: 1px solid black;
    resize: none;
    font-family: 'Montserrat', sans-serif !important;
}

.add-modal-container .add-modal .inputs input:focus,textarea:focus {
    outline: none;
}

.add-modal-container .add-modal .default-button {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    background-color: rgb(230,230,230);
}

main .kanban {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}

main .kanban .column {
    flex: 1;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}

@media only screen and (max-width: 836px) {
    main .kanban {
        flex-direction: column;
        height: max-content;
    }

    main .kanban .column {
        overflow: auto;
    }
}

main .kanban .column > .header {
    padding: .75em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    color: white;
}

main .kanban .column#to-do > .header {
    background-color: #3d4bcc;
}

main .kanban .column#doing > .header {
    background-color: #e3b04b;
}

main .kanban .column#done > .header {
    background-color: #45d14e;
}

main .kanban .column .tasks-list {
    flex: 1;
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1em;
    padding: 0 2em;
    overflow: auto;
    gap: 20px;
}

main .kanban .column .tasks-list .task {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

main .kanban .column .tasks-list .task:last-of-type {
    margin-bottom: 2em;
}

main .kanban .column .tasks-list .task .header {
    font-weight: 500;
    padding: .3em 1em;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

main .kanban .column .tasks-list .task .header .actions {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
}

main .kanban .column .tasks-list .task .header img {
    height: 15px;
    cursor: pointer;
}

main .kanban .column .tasks-list .task .header img.hidden {
    visibility: hidden;
}

main .kanban .column .tasks-list .task .header img:hover {
    opacity: 0.6;
}

main .kanban .column#to-do .tasks-list .task .header {
    background-color: rgba(61, 75, 204, .5);
}

main .kanban .column#doing .tasks-list .task .header {
    background-color: rgba(227, 176, 75, .5);
}

main .kanban .column#done .tasks-list .task .header {
    background-color: rgba(69, 209, 78, .5);
}

main .kanban .column .tasks-list .task .description {
    text-align: center;
    padding: .5em 1em;
}